<div class="card text-white bg-primary h-100">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">Tratamientos (Último Mes)</h5>
        <h2 class="display-4" *ngIf="!loading">{{ totalTratamientos }}</h2>
        <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="align-self-center">
        <i class="fas fa-syringe fa-2x"></i>
      </div>
    </div>
  </div>
</div>